<header id="header">
	<div class="container">
		<div id="logo">
			<a href="https://scripps.ucsd.edu/"><img src="assets/images/siologo.png" alt="" title=""></a>
		</div>
		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li><a href="index" id="modified">Home</a></li>
				<li class="menu-has-children"><a href="joa" id="modified">Java OceanAtlas</a>
					<ul>
						<li><a href="joa#joa_5.5" id="modified">Download JOA 5.5</a></li>
						<li><a href="joa#joa_5.3" id="modified">Download JOA 5.3</a></li>
						<li><a href="etopo" id="modified">Bathymetry Add-ins (Etopo5 and Etopo2)</a></li>
						<li class="menu-has-children"><a href="#">Guides</a>
							<ul>
								<li><a href="basic_features" id="modified">Guided Tour</a></li>
								<li><a href="assets/documents/JOA5_userguide.pdf" id="modified">User Guide</a></li>
								<li><a href="general_installation_instructions" id="modified">General Installation Instructions</a></li>
								<li><a href="mac_specific_installation_instructions" id="modified">Mac Installation Instructions</a></li>
								<li><a href="windows_specific_installation_instructions" id="modified">Windows Installation Instructions</a></li>
								<li><a href="assets/documents/JOA5_linux_terminal.pdf" id="modified">Installation Instructions for Linux</a></li>
								<li><a href="joa_features" id="modified">JOA Features</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-has-children"><a href="Data_homepage" id="modified">Data</a>
					<ul>
						<li class="menu-has-children"><a href="#" id="modified">'The Best' CTD/Hydrographic Data</a>
							<ul>
								<li><a href="pacificdata" id="modified">Pacific Ocean</a></li>
								<li><a href="atlanticdata" id="modified">Atlantic Ocean</a></li>
								<li><a href="indiandata" id="modified">Indian Ocean</a></li>
								<li><a href="southerndata" id="modified">Southern Ocean</a></li>
								<li><a href="arcticdata" id="modified">Arctic Ocean</a></li>
								<li><a href="othervertical" id="modified">Other 'Best' Data</a></li>
							</ul>
						</li>
						<li><a href="woadata" id="modified">World Ocean Atlas Data</a></li>
						<li><a href="https://joa_old.cchdo.io/home" id="modified">Legacy/Historical Data</a></li>
					</ul>
				</li>
				<li class="menu-has-children"><a href="#" id="modified">Outreach</a>
					<ul>
						<li><a href="{{'/outreach/virtualcruise/' | relative_url}}" id="modified">Virtual Cruise</a></li>
						<li><a href="projects" id="modified">Projects & Methods</a></li>
					</ul>
				</li>
				<li><a href="about" id="modified">About Us</a></li>
				<li><a href="contact" id="modified">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</header>
