<header id="header">
   <div class="container">
     <div id="logo">
       <a href="https://scripps.ucsd.edu/"><img src="assets/images/sioLogo-scale.png" alt="" title=""></a>
     </div>
     <nav id="nav-menu-container">
       <ul class="nav-menu">
         <li class="menu-active"><a href="index.html">Home</a></li>
         <li><a href="http://joa.ucsd.edu/joa">Java OceanAtlas</a></li>
         <li><a href="{{'/outreach/virtualcruise/' | relative_url}}">Outreach</a></li>
         <li class="menu-has-children"><a href="Data_homepage.html">Data</a>
           <ul>
             <li class="menu-has-children"><a href="#">Best Vertical Section Data</a>
               <ul>
                 <li><a href="pacific_datapage.html">Pacific Ocean</a></li>
                 <li><a href="atlantic_datapage.html">Atlantic Ocean</a></li>
                 <li><a href="indian_datapage.html">Indian Ocean</a></li>
                 <li><a href="southern_datapage.html">Southern Ocean</a></li>
                 <li><a href="arctic_datapage.html">Arctic Ocean</a></li>
                  <li><a href="arctic_datapage.html">Other</a></li>
               </ul>
             </li>
             <li><a href="woa_datapage.html">World Ocean Atlas Data</a></li>
             <li><a href="http://joa.ucsd.edu/data/other">Other Data files</a></li>
           </ul>
         </li>
         <li><a href="aboutus.html">About Us</a></li>
         <li><a href="contactus.html">Contact Us</a></li>
       </ul>
     </nav><!-- #nav-menu-container -->
   </div>
</header><!-- #header -->
