<header id="header">
   <div class="container">
     <div id="logo">
       <a href="https://scripps.ucsd.edu/"><img src="assets/images/joalogo_50.png" alt="" title=""></a>
     </div>
     <nav id="nav-menu-container">
       <ul class="nav-menu">
         <li class="menu-active"><a href="home">Home</a></li>
         <li><a href="http://joa.ucsd.edu/joa">Java OceanAtlas</a></li>
         <li><a href="{{'/outreach/virtualcruise/' | relative_url}}">Outreach</a></li>
         <li class="menu-has-children"><a href="Data_homepage">Data</a>
           <ul>
             <li class="menu-has-children"><a href="#">Best Vertical Section Data</a>
               <ul>
                 <li><a href="pacificdata">Pacific Ocean</a></li>
                 <li><a href="atlanticdata">Atlantic Ocean</a></li>
                 <li><a href="indiandata">Indian Ocean</a></li>
                 <li><a href="southerndata">Southern Ocean</a></li>
                 <li><a href="arcticdata">Arctic Ocean</a></li>
                  <li><a href="arcticdata">Other</a></li>
               </ul>
             </li>
             <li><a href="woadata">World Ocean Atlas Data</a></li>
             <li><a href="http://joa.ucsd.edu/data/other">Other Data files</a></li>
           </ul>
         </li>
         <li><a href="about">About Us</a></li>
         <li><a href="contact">Contact Us</a></li>
       </ul>
     </nav><!-- #nav-menu-container -->
   </div>
</header><!-- #header -->
