<header id="header" style="background:#F0F8FF">
	<div class="container">
		<div id="logo">
			<a href="https://scripps.ucsd.edu/"><img src="assets/images/joalogo.png" alt="" title=""></a>
		</div>
		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li><a href="index">Home</a></li>
				<li class="menu-has-children"><a href="joa">Java OceanAtlas</a>
					<ul>
						<li><a href="joa#call-to-action3">Download JOA 5.5</a></li>
						<li><a href="joa">Download JOA 5.3</a></li>
						<li><a href="etopo">Bathymetry Add-ins (Etopo5 and Etopo2)</a></li>
						<li class="menu-has-children"><a href="#">Guides</a>
							<ul>
								<li><a href="basic_features">Guided Tour</a></li>
								<li><a href="assets/documents/JOA5_userguide.pdf">User Guide</a></li>
								<li><a href="general_installation_instructions">General Installation Instructions</a></li>
								<li><a href="mac_specific_installation_instructions">Mac Installation Instructions</a></li>
								<li><a href="windows_specific_installation_instructions">Windows Installation Instructions</a></li>
								<li><a href="assets/documents/JOA5_linux_terminal.pdf">Installation Instructions for Linux</a></li>
								<li><a href="joa_features">JOA Features</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-has-children"><a href="Data_homepage">Data</a>
					<ul>
						<li class="menu-has-children"><a href="#">'The Best' CTD/Hydrographic Data</a>
							<ul>
								<li><a href="pacificdata">Pacific Ocean</a></li>
								<li><a href="atlanticdata">Atlantic Ocean</a></li>
								<li><a href="indiandata">Indian Ocean</a></li>
								<li><a href="southerndata">Southern Ocean</a></li>
								<li><a href="arcticdata">Arctic Ocean</a></li>
								<li><a href="othervertical">Other 'Best' Data</a></li>
							</ul>
						</li>
						<li><a href="woadata">World Ocean Atlas Data</a></li>
						<li><a href="https://joa_old.cchdo.io/home">Legacy/Historical Data</a></li>
					</ul>
				</li>
				<li class="menu-has-children"><a href="#">Outreach</a>
					<ul>
						<li><a href="{{'/outreach/virtualcruise/' | relative_url}}">Virtual Cruise</a></li>
						<li><a href="projects">Projects & Methods</a></li>
					</ul>
				</li>
				<li><a href="about">About Us</a></li>
				<li><a href="contact">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</header>