<!-- This layout/template is for Atlantic, Indian, Pacific and Southern Ocean Datapages only -->

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include head_datapage.html %}

  <body>

{% include header.html %}
{% if page.matched == "site.data.atlanticdata.matched" %}
{% assign matched = site.data.atlanticdata.matched %}
{% elsif page.matched == "site.data.pacificdata.matched" %}
{% assign matched = site.data.pacificdata.matched %}
{% elsif page.matched == "site.data.indiandata.matched"%}
{% assign matched = site.data.indiandata.matched %}
{% elsif page.matched == "site.data.southerndata.matched"%}
{% assign matched = site.data.southerndata.matched %}
{% endif %}
{% if page.section == "site.data.atlanticdata.section" %}
{% assign section = site.data.atlanticdata.section %}
{% elsif page.section == "site.data.pacificdata.section" %}
{% assign section = site.data.pacificdata.section %}
{% elsif page.section == "site.data.indiandata.section" %}
{% assign section = site.data.indiandata.section %}
{% elsif page.section == "site.data.southerndata.section" %}
{% assign section = site.data.southerndata.section %}
{% elsif page.section == "site.data.otherverticaldata.section" %}
{% assign section = site.data.otherverticaldata.section %}
{% endif %}
{% if page.yeardropdown == "site.data.atlanticdata.yeardropdown" %}
{% assign yeardropdown = site.data.atlanticdata.yeardropdown %}
{% elsif page.yeardropdown == "site.data.pacificdata.yeardropdown" %}
{% assign yeardropdown = site.data.pacificdata.yeardropdown %}
{% elsif page.yeardropdown == "site.data.indiandata.yeardropdown" %}
{% assign yeardropdown = site.data.indiandata.yeardropdown %}
{% elsif page.yeardropdown == "site.data.southerndata.yeardropdown" %}
{% assign yeardropdown = site.data.southerndata.yeardropdown %}
{% elsif page.yeardropdown == "site.data.otherverticaldata.yeardropdown" %}
{% assign yeardropdown = site.data.otherverticaldata.yeardropdown %}
{% endif %}



<section id="hero">
	<div class="hero-container">
		<h1>Explore {{page.ocean}} Ocean Data</h1>
		<h2>Navigate to your desired data below</h2>
		{% if section == site.data.otherverticaldata.section %}
		<center><img src="assets/images/othervertical.jpg" alt="" class="responsive"></center>
		{% else %}
		<center><img src="assets/images/cleandatamap.jpg" alt="" class="responsive"></center>
		{% endif %}
	</div>
</section>
<!-- #hero -->
<section id="call-to-action1">
	<section id="call-to-action3">
		<div class="container wow fadeIn">
			<div class="col-lg-9 text-center text-lg-left" style="flex:0 0 100%;max-width:100%">
				<h3 class="cta-title1" style="text-align:center">About {{page.ocean}} Ocean Data</h3>
				<br>
				{% if section == site.data.otherverticaldata.section %}
				<p class="cta-text1" style="text-align:center">Global-scale vertical sections assembled by J. Swift from the Best Vertical Sections, intended to illuminate the largest-scale spatial structure of seawater characteristics. The data have been vetted and groomed for improved readability and consistency, and assembled in sensible geographic order.</p>
				<br>
				<p class="cta-text1" style="text-align:center">A collection of carefully-matched section segments from all of the oceans - crossings of the same path in one basin or region from different years. These are included to facilitate accurate comparisons of seawater characteristics from different years. Data file names are designed to identify spacially-matched sets.</p>
				{% else %}
				<p class="cta-text1" style="text-align:center">Ocean basin spanning vertical section data from the WOCE Hydrographic Program, CLIVAR Repeat Hydrography, GO-SHIP and other programs with similar intent and high quality standards. Many of the sections have been occupied multiple times. The data values for measured parameters are identical those available from the CLIVAR and Carbon Hydrographic Data Office (CCHDO), but the files have been vetted and groomed for improved readability and consistency, and assembled in sensible geographic order.</p>
				{% endif %}
			</div>
		</div>
	</section>
</section>
<!-- #call-to-action -->
<div style="background-color: black">
		{% if section != site.data.otherverticaldata.section %}
		<div class="container h-100">
			<center style="color: white;font-size: 25px;font-family: 'Poppins';margin-top: 7%;"> Pick a Search Functionality</center>
			<center style="color: white; padding-top: 5%;"><a class='button-func' href="#tree-search"> Tree Search </a>
				<a class='button-func' href="#dropdown-search"> Dropdown Search </a></center>
			<hr class="style-one">
			<center style="color: white;font-size: 25px;font-family: 'Poppins';margin-top: 7%;"> Dropdown Search</center>
			<section id="dropdown-search">
			<div class="row h-100 align-items-center justify-content-center">
				<div class="col-12 col-md-10">
					<div class="hero-search-form">
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
								<h6>What data are you looking for?</h6>
								<div class="row">
									<div class="mx-auto">
									<form style="margin-left: auto;" action="#" method="get">
											<select class="custom-select" id="verticalSectionDropdown">
												<option value="All" selected="selected">Vertical Section</option> {% for item in section%}
												<option value="{{item.title}}">{{item.title}}</option> {% endfor %} </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<select class="custom-select" id="yearDropdown">
												<option value="All">Year</option> {% for item in yeardropdown %}
												<option value="{{item.year}}">{{item.year}}</option> {% endfor %} </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<select style="display:none" class="custom-select" id="fileDropdown">
												<option value="All">File</option>
												<option value=".csv">.csv</option>
												<option value=".jos">.jos</option>
												<option value=".txt">.txt</option>
												<option value=".joa">.joa</option>
												<option value=".zip">.zip</option>
											</select>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="container-table100">
				<div class="wrap-table100">
					<div class="table100 ver3 m-b-110">
						<div id="datatable1" class="table100-body js-pscroll" style="max-height:1500px">
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</section>
			<hr class="style-two">
			<center style="color: white;font-size: 25px;padding-bottom: 3%;font-family: 'Poppins';"> Data Tree Search</center>
			<section id="tree-search">
			<div class="tree ">
					<ul> <span style="color:white;font-size: 20px;"><b>{{page.ocean}} Ocean</b></span>
						<ul>
							{{content}}
							{% if section != site.data.otherverticaldata.section %}
							<li> <span style="color:white"><i class="fa fa-plus-square" style="color:white"></i>Vertical Section Data</span>
								<ul> {% for item in section %}
									<li> <span style="color:white"><i class="fa fa-plus-square" style="color:white"></i>{{item.title}}</span>
										<ul>
											<li><a href="{{item.zip_path}}"><span style="background:#5cb85c;color:white">Download all {{item.title}} Data</span></a></li> {% for entry in item.years%}
											<li> <span style="color:white"><i class="fa fa-plus-square" style="color:white"></i>{{entry.year}}</span>
												<ul> {% for file in entry.files%}
													<li><span style="color:white"><a href="{{file.path}}">{{file.name}}</a></span></li> {% endfor %} </ul>
											</li> {% endfor %} </ul> 
									</li> {% endfor %} </ul>
							</li>
							<li> <span style="color:white"><i class="fa fa-plus-square" style="color:white"></i>Matched Segment Data</span>
								<ul> {% for item in matched %}
									<li> <span style="color:white"><i class="fa fa-plus-square" style="color:white"></i>{{item.title}}</span>
										<ul>
											<li><a href="{{item.zip_path}}"><span style="background:#5cb85c;color:white">Download all {{item.title}} Data</span></a></li> {% for file in item.files%}
											<li><span style="color:white"><a href="{{file.path}}">{{file.name}}</a></span></li> {% endfor %} </ul>
									</li> {% endfor %} </ul>
							</li>
							{% endif %}
						</ul>
					</ul>
			</div>
			</section>
	</div>
	{% if section == site.data.otherverticaldata.section %}
	<script>
		$('.js-pscroll').each(function(){
		  var ps = new PerfectScrollbar(this);
		  $(window).on('resize', function(){
			ps.update();
		  })
		});
		const yearOptions = document.getElementById("yearDropdown").cloneNode(true)
		const filterYearOptions = (yearOptions, table) => {
			let tableYears = [...table].map(tr => tr.children[1].textContent)
			return [...yearOptions.children].filter(opt => {
				let val = opt.getAttribute("value")
				if (val == "All"){
					return true
				}
				for (let i=0; i<tableYears.length; i++){
					if (tableYears[i].includes(val)){
						return true
					}
				}
				return false
			})
		}
		$('.container').on("change", 'select', function() {
		  var section = $('#verticalSectionDropdown').val().toLowerCase(),
			year = $('#yearDropdown').val().toLowerCase(),
			file = $('#fileDropdown').val().toLowerCase();
			console.log($('#yearDropdown'))
		  var table = $("#datatable");
		  var trs = table.find('tr');
		  trs.hide();
		  var filtered = trs.filter(function(index, elem) {
			var tds = $(elem).find('td');
			if (section !== "all" && tds.eq(0).text().trim().toLowerCase() !== section) {
			  return false;
			}
			if (year !== "all" && tds.eq(1).text().trim().toLowerCase() !== year) {
			  return false;
			}
			if (file !== "all" && tds.eq(2).text().trim().toLowerCase() !== file) {
			  return false;
			}
			return true;
		  })
		  filtered.show();
		  let newYearOptions = filterYearOptions(yearOptions, filtered)
		  document.getElementById("yearDropdown").replaceChildren(...newYearOptions)
		  if (filtered.length == 0) {
			alert("No Records Found!");
		  }
		});
		
	</script>
	{% else %}
<script>
	const section = {{section | jsonify}};
	console.log(section)
	const lines = section.map(s => s.title)
		const flat_files = []
		section.forEach(sect => {
			sect.years.forEach(year => {
				year.files.forEach(file => {
					flat_files.push({
						title: sect.title,
						year: year.year,
						name: file.name,
						path: file.path,
					})
				})
			})
		})
	console.log(flat_files)
	const updateTable = (files) => {
	const datatable1 = document.createElement("table")
	datatable1.classList.add("table")
	const thead = datatable1.createTHead()
	const theadRow = thead.insertRow()
	theadRow.innerHTML = "<th style='margin-bottom:35%'>Vertical Section</th><th>Year</th><th>File</th>"
	const tbody = datatable1.createTBody()
	files.forEach(file => {
		let row = tbody.insertRow(-1)
		let title = row.insertCell();
		title.appendChild(document.createTextNode(file.title))
		let year = row.insertCell();
		year.appendChild(document.createTextNode(file.year))
		let fileRow = row.insertCell();
		let fileContent = document.createElement("a")
		fileContent.appendChild(document.createTextNode(file.name))
		fileContent.setAttribute("href", file.path)
		fileRow.appendChild(fileContent)
	})
	let tableContainer = document.querySelector("#datatable1");
	tableContainer.replaceChildren(datatable1)
}
	updateTable(flat_files)
	const verticalSectionDropdown = document.getElementById("verticalSectionDropdown")
	const yearDropdown = document.getElementById("yearDropdown")
	const filterFiles = (flat_files) => {
		const selectedSection = verticalSectionDropdown.value
		const selectedYear = yearDropdown.value
		let filteredFiles = flat_files
		if (selectedSection !== "All"){
			filteredFiles = filteredFiles.filter(file => file.title === selectedSection)
		}
		if (selectedYear !== "All"){
			filteredFiles = filteredFiles.filter(file => file.year.toString().includes(selectedYear))
		}
		return filteredFiles;
	}
	verticalSectionDropdown.addEventListener("change", event => {
		let selectedSection = event.target.value;
		var sectionfilteredFiles = flat_files
		if (selectedSection !== "All"){
			sectionfilteredFiles = flat_files.filter(file => file.title === selectedSection)
		}
		updateTable(filterFiles(flat_files))
		let validYears = new Set(sectionfilteredFiles.map(file => file.year.toString()))
		for (let i = 0; i < yearDropdown.children.length; i++){
			let yearOption = yearDropdown.children[i];
			if (yearOption.value === "All"){
				continue;
			}
			yearOption.removeAttribute("disabled")
			let isInvalid = [...validYears].some(validYear => validYear.includes(yearOption.value))
			if (!isInvalid){
				yearOption.setAttribute("disabled", "anything")
			}
		}
	})
	yearDropdown.addEventListener("change", event => {
		let selectedYear = event.target.value;
		var yearFilteredFiles = flat_files
		if (selectedYear !== "All"){
			yearFilteredFiles = flat_files.filter(file => file.year.toString().includes(selectedYear))
		}
		updateTable(filterFiles(flat_files))
		let validSections = new Set(yearFilteredFiles.map(file => file.title.toString()))
		for (let i = 0; i < verticalSectionDropdown.children.length; i++){
			let sectionOption = verticalSectionDropdown.children[i];
			if (sectionOption.value === "All"){
				continue;
			}
			sectionOption.removeAttribute("disabled")
			let isInvalid = [...validSections].some(validSection => validSection.includes(sectionOption.value))
			if (!isInvalid){
				sectionOption.setAttribute("disabled", "anything")
			}
		}
	})
</script>
{% endif %}
 

  </body>
</html>
