<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include head_joa.html %}
<style>
body {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-color: lightblue;
	}
.cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #000000;
  color: #000000;
}

.cta-btn:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}


</style>
  <body>
{% include joaheader.html %}
<br><br><br><br><br>




{{content}}


<br><br>
  </body>
</html>
